@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: black;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-areas: "header header" "feature aside";
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 50px;
  grid-template-rows: 120px 1fr;
  width: calc(100% - 400px);
  margin: 0 200px;
  height: 100vh;
}

header {
  grid-area: header;
  padding: 35px 0 45px;
}

.feature {
  grid-area: feature;
  height: 100%;
  overflow-y: scroll;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

aside {
  grid-area: aside;
  height: 100%;
  overflow-y: scroll;
}

aside ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

aside ul li {
  margin-bottom: 20px;
}

aside ul a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: top;
  gap: 20px;
}
